<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="table.css">
  <script src="jquery/dist/jquery.js" charset="utf-8"></script>
</head>

<body>
    <table>
      <thead class="odd">
        <th data-name = 'name'>姓名</th>
        <th data-name = 'number'>学号</th>
        <th data-name = 'Chinese' data-flag='true'>语文</th>
        <th data-name = 'math' data-flag='true'>数学</th>
        <th data-name = 'English' data-flag='true'>英语</th>
      </thead>
      <tbody>
        {{#each entries}}
        <tr name="score">
          <td class='name'>{{stu_name}}</td>
          <td class='number'>{{stu_id}}</td>
          <td class='Chinese'>{{Chinese}}</td>
          <td class='math'>{{math}}</td>
          <td class='English'>{{English}}</td>
          <td><button type="button" name="button" class="delete">删除</button></td>
          <td><button type="button" name="button" class="update">修改</button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <a href="addData.html">tian</a>
    <br> <br>
      <table>
        <tr>
         <td align="right">姓名：</td>
         <td><input type="text" id="name"></td>
        </tr>
        <tr>
         <td align="right">语文成绩：</td>
         <td><input type="text" id="Chinese"></td>
        </tr>
        <tr>
         <td align="right">数学成绩：</td>
         <td><input type="text" id="math"></td>
        </tr>
        <tr>
         <td align="right">英语成绩：</td>
         <td><input type="text" id="English"></td>
        </tr>
      </table>
      <input type="button" name="name" value="添加" class="add">
</body>
    <script src="response.js" charset="utf-8"></script>
</html>
