<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>update student's score</title>
</head>
<body>
  <div class="">
    <form class="" action="index.html" method="post">
      <table>
        <tr>
         <td align="right">姓名：</td>
         <td><input type="text" name="name">{{name}}</td>
        </tr>
        <tr>
         <td align="right">学号：</td>
         <td><input type="text" name="number">{{number}}</td>
        </tr>
        <tr>
         <td align="right">语文成绩：</td>
         <td><input type="text" name="Chinese">{{Chinese}}</td>
        </tr>
        <tr>
         <td align="right">数学成绩：</td>
         <td><input type="text" name="math">{{math}}</td>
        </tr>
        <tr>
         <td align="right">英语成绩：</td>
         <td><input type="text" name="English">{{English}}</td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>
